<!DOCTYPE html>
<html>
<head>
    <title>
        {% block titulo %}
        Homepage
        {% endblock %}
    </title>
</head>
<body>
{% block body %}

<h1>Homepage</h1>

<a href="{{ url_for('perfil', usuario='Davi') }}"></a>
<a href="{{ url_for('criarconta')}}">Criar conta</a>

{%block formulario %}
<form method="POST">

        {{form.csrf_token }}

        {{form.email.label }}
        {{form.email() }}

        {{form.senha.label }}
        {{form.senha() }}

        {{form.botao_confirmacao() }}



</form>
 {% endblock %}
{% endblock %}
</body>
</html>